@model ProyectoFinalP3.Models.Ingresos


@{
    ViewBag.Title = "IngresoPaciente";
    List<SelectListItem> itemsP = (List<SelectListItem>)ViewBag.itemsP;
    List<SelectListItem> itemsH = (List<SelectListItem>)ViewBag.itemsH;

}

<html>
<head>
    <title>Agregar Cita</title>
    <style>
        .panel {
            margin-top: 35px;
            max-width: 300px;
        }
    </style>
</head>
<body>
    <div>
        <div></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Ingreso Paciente</h4>
            </div>
            <div class="panel-body">
                <div>
                    @using (Html.BeginForm("EditarIngreso", "ModuloProcesos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            @Html.Label("Paciente")
                            @Html.DropDownListFor(a => a.PacientesId, itemsP, "Selecciona el Nombre / Cedula", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.PacientesId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Habitacion")
                            @Html.DropDownListFor(a => a.HabitacionesId, itemsH, "Selecciona la Habitacion", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.HabitacionesId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Fecha de Ingreso")<br />
                            @Html.EditorFor(a => a.Fecha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Fecha, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <input type="submit" value="Editar" class="btn btn-primary" /> |
                            @Html.ActionLink("Volver atras", "VistaIngresos")
                        </div>
                    }
                </div>
            </div>
        </div>
        <div></div>
    </div>
</body>
</html>
